<aside class="log-in" [style.display]="display">
    
  <div style="width:100%">
    <h1 style="height:100px">修改密码</h1>
    <!-- <select class="user" name="" id="" [(ngModel)]="role">
        <option value="admin">管理员</option>
        <option value="op">操作员</option>
        <option value="technician">技术员</option>
        <option value="enginer">工程师</option>
    </select> -->
    <input type="text" placeholder="请输入用户" [(ngModel)]="role" style="margin-bottom:10px"> 
    <input type="password" placeholder="请输入旧密码" [(ngModel)]="oldPsw" style="margin-bottom:10px"> 
    <input type="password" placeholder="请输入新密码" [(ngModel)]="password" style="margin-bottom:10px">
    <input type="password" placeholder="请再次输入新密码" [(ngModel)]="passwordAgain" style="margin-bottom:20px">
    <!-- 错误提示 -->
    <p class="error-msg">{{errorMsg}}</p>
    <button type="button" (click)="reset()" style="height:20px;margin-top:-20px;width:30%;margin-left:50px;">确认</button>
    <!-- 关闭图标按钮 -->
    <button type="button"  (click)="hidden()" style="height:20px;margin-top:-20px;width:30%;margin-left:150px;">取消</button>
    
  </div>
</aside>