<table class="table" style="margin-bottom:1rem;float:left;width:40%;margin-left:50px;margin-top:10px" *ngFor="let item of iOList;let i=index;" [ngClass]="{'floatclass':i===1||i===4||i===5,'clearclass': i===3}">
    <caption >
        {{item.name}}
    </caption>
    <thead>
        <tr>
            <th>点位</th>
            <th *ngIf="i!== 1&&i!==2&&i!==0&&i!==4">x</th>
            <th *ngIf="i=== 1 || i===3||i===5">y</th>
            <th *ngIf="i=== 0 ||i===2 || i===1 || i===3">z</th>
           <th *ngIf="i===4">z1</th>
           <th *ngIf="i===4">z2</th>
           <th *ngIf="i===4">z3</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let optical of item.pointinfo">
            <td>{{optical.name}}</td>
            <th *ngIf="i!==2&&i!==0&&i!==4 "><input type="text" class="inputstyle" [(ngModel)]="optical.xpoint" [readonly]="machinestatus===8 || userrole==='操作员'"/></th>
            <td *ngIf="i===3||i===5||i===1"><input type="text" class="inputstyle" [(ngModel)]="optical.ypoint" [readonly]="machinestatus===8 || userrole==='操作员'"/></td>
            <td *ngIf="i===3"><input type="text" class="inputstyle" [(ngModel)]="optical.zpoint" [readonly]="machinestatus===8 || userrole==='操作员'"/></td>
            <td *ngIf="i===4"><input type="text" class="inputstyle" [(ngModel)]="optical.xpoint" [readonly]="machinestatus===8 || userrole==='操作员'"/></td>
            <td *ngIf="i===4"><input type="text" class="inputstyle" [(ngModel)]="optical.ypoint" [readonly]="machinestatus===8 || userrole==='操作员'"/></td>
            <td *ngIf="i===4"><input type="text" class="inputstyle" [(ngModel)]="optical.zpoint" [readonly]="machinestatus===8 || userrole==='操作员'"/></td>
            <td *ngIf="i=== 0||i===2"><input type="text" class="inputstyle" [(ngModel)]="optical.xpoint" [readonly]="machinestatus===8 || userrole==='操作员'"/></td>
        </tr>
    </tbody>
</table>
    <div><input type="button" value="保存" (click)="savePoint()" class="btnclass" style="float:left;margin-top:300px;margin-left:0px;"/></div>



      